body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}
.foto {
    background-image: url(../img/banner-2.jpg);
    width: 100%;
    height: 100vh;
    color:white;
    background-size: scale;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 40px;
    color: black;
    display: block;
    margin: 0px;
    position: relative; text-align: center
 }
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.columna1{
    width: 50%;
    margin-left: auto;
    font-size: 30px;
}
.columna100{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.column-6{
    width: 25%;
    margin-left: auto;
    font-size: 20px;
    margin: 0 auto; 
    text-align: center;
}
.estilos{
    border-style: solid;
    border-width: 0px;
    border-color: black;
}
.fondo{
    background-color: aquamarine;
}
.columna101{
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-color: rgb(87, 127, 226);
}
.columna3{
    width: 33.33%;
    color: white;
    background-color: black;
    font-family: monospace;
    text-align: center;
}
.margen{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.columna3-1{
    width: 33.33%;
    color: white;
    background-color: black;
    font-family: monospace;
    text-align: center;
}
.columna3-2{
    width: 33.33%;
    color: white;
    background-color: black;
    font-family: monospace;
    text-align: right;
}
@media screen and (max-width: 700px) {
 .columna1{
    width: 100%;
 }
 .column-6{
    width: 50%;
 }
 .columna1{
    width: 100%;
 }
 .column-6{
    width: 50%;
 }
 .columna3-1{
    width: 100%;
 }
 .columna3{
    width: 50%;
 }
 .img1{
    width: 250px;
 }
 .img2{
    width: 250px;
 }
 .img3{
    width: 250px;
 }
 .img4{
    width: 250px;
 }

  }